<div class="container">
  <div class="panel panel-white post panel-shadow">
    <div class="post-footer">
      <add-comment [id]="id" [title]="title"></add-comment>
      <br>
      <hr>
      <p *ngIf="showInfoMessage">Be first to post comment!</p>
      <ul class="comments-list">
        <li class="comment" *ngFor="let comment of comments | orderByDate">
          <a class="pull-left" href="#">
            <img class="avatar" src="http://bootdey.com/img/Content/user_1.jpg" alt="avatar">
          </a>
          <div class="comment-body">
            <div class="comment-heading">
              <h4 class="user">{{comment.nickname}}</h4>
              <h5 class="time">{{comment.datePosted | timeAgo}}</h5>
            </div>
            <p>{{comment.content}}</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--https://bootsnipp.com/snippets/BDE3v   template example-->
